*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', cursive;
    
}

/* Menu */


/* Partie HEADER Coralie*/

.logos {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-start;
  margin-top: -45px;
  
}
.Navlogo:hover {
  -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.listLogo {
 display: flex;
 justify-content: space-between;
 list-style: none;
}

.listLogo img {
  margin-top: 15px;
  padding: 5px 5px 2px 5px;
  height: 15px;
  
}

.travel {
  color: #FFAD33;
}

/*nav {
    display: flex;
    background-color: #FFAD33;
    padding: 1rem;
    justify-content: center;
}*/


/* Banniere */

#banniere {
  text-align: center;
}

.logo {
  margin-top: 1em;
  width: 5em;
}

.logo:hover {
  -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

h1 {
  
  font-family: 'Chilanka', cursive;
  font-size: 4em;  
  vertical-align: center;
}

.imgprincipal {
    max-width:100%;
    height: auto;
    margin-bottom: 3em;
    }

h2.description {
  text-align: center;
  font-family: Chilanka, sans-serif;
  margin: 1em;
  font-size: 2em;
}    


/* Articles */

.bold {
  font-weight: bold;
}

#articles {
    display:block;
}

.slide{
    display:flex;
    flex-direction : column;
    justify-content : center;
}

.slide-card{
    display:flex;
    flex-direction : column;
    justify-content : center;
    padding: 1em;
    display:block;
}

.slide-card h2{
    margin-top:-12.5vw;
    text-align: center;
    color:white;
    z-index:5;
}

.slide-card p{
    margin-top : 12.5vw;
    text-align:justify;
    display:block;
}

.slide-card a{
    text-decoration:none;
    color:black;
}

.slide-card:hover a{
    text-decoration:none;
    color:black;
}

.slide-card:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}

/* LASTPOST */



section#lastpost {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

section#lastpost img.photoart {
  width: 60%;
  display: flex;
  margin: 1em;
  border-radius: 10px;
}

section#lastpost h2 {
  padding: .5em 1em .5em 1em;
  background-color: grey;
  color: white;
  font-size: 1em;
  border-radius: 10px;  
}

.post {
  margin: 1em 1em .5em 1em;
  text-align: justify;
}


section#lastpost a {
  text-align: center;
  text-decoration: none;
  color: grey;  
}


h3 {
  text-align: center;
  margin: .5em;
  font-family: Chilanka, sans-serif;
  
}

div.posts {
  padding: 1em;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: .5em 1em;
  }

  div.date {
    display: flex;
    justify-content: center;
  }

  p.date {
    font-size: .9em;
    width: 100%;
    color: grey;
  }

.logodate {
    width: 5%;
    float: left;
    margin-right : 1em;
    text-align: center;
}



/* Formulaire */

.form-style-5{
  max-width: 60%;
  margin: 10px auto;
  padding: 20px;
  background: #FFAD33;
  border-radius: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
  border: none;
}
.form-style-5 legend {
  font-size: 1.4em;
  margin-bottom: 30px;
}
.form-style-5 label {
  display: block;
  margin-bottom: 12px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="email"],
.form-style-5 textarea,
.form-style-5 select {
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  background-color: #e8eeef;
  margin-bottom: 30px;  
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
  height:40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: grey
}


.form-style-5 .number {
  background: grey;
  color: #fff;
  height: 100%;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 2px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
.form-style-5 select 
{
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  margin: 0 auto;
  background:grey;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 50%;
  border-radius: 8px;
  margin-bottom: 10px;
  border: none;
  margin-top: 30px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
  
  background: grey;
}
 
 .container {
  font-size: 20px;
  text-align: center;
   font-family: Georgia, "Times New Roman", Times, serif;
   color: black;
  
  }

.slide-card:hover img{
    filter:grayscale(100%);
}

.slide-card:hover h2{
    margin-top:-12.5vw;
    text-align: center;
    color:white;
    z-index:5;

    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    transition: all .3s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius:5%
}


.slide-container{
    display:none;
}


#img-1{
  display:none;
}

#img-2{
  display:none;
} 


/*page_article*/


.page-article-bandeau{
    display:flex;
    flex-direction:row;
    align-content: center;
    margin-top:5vh;
}

.page-article-bandeau img{
    width:20vw;
    height:auto;
}

.page-article-titre{
  padding:1vw 5vw;
  text-align: center;
  
}

.page-article-titre-mobile{
  display:none;
}

.page-article-liens-desktop{
  width:100%;
  margin:2vW 0vw;
  
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
}

.page-article-lien-desktop{
  display: block;
  background: #808080;
  text-align:center;
  padding: 0.5vw 2vw;
  font-size:1.2em;
  font-weight:bold;
  border-left:1px solid #FFFFFF;
  text-decoration:none;
  color:#FFFFFF;

}

.page-article-liens-desktop :first-child{
  border-left:1px solid #808080;
}

.page-article-liens-desktop :last-child{
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  
}



.page-article-contenu{
    display:flex;
    flex-direction:row;

}

.page-article-contenu-1{
  width:40%;
  
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.page-article-contenu-1 p{
  text-align:justify;
  padding:1vw 5vw;
  margin-bottom: 1em;
}

.page-article-contenu-2{
  width:60%;
  padding:1vw 0vw;
}

.page-article-contenu-2 img{
  height: 35vw;
  width:auto;
  border-radius:5%;
  position :absolute;
  margin-left : 5%;
}

/* SEPARATOR */

section#separator {

  display: flex;
  justify-content: center;
  margin: 2em;
}

section#separator img {
    width: 45vw;  
}

/* YOUTUBE */

section#youtube p {
  line-height: 2em;
  font-family: Chilanka, sans-serif;
}


/* MOSAIC */

section#mosaic {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 4em;
}

img.petit {
  width: 20%;
  margin: 0;
}

/* Footer */
#contenu-2-img-1{
  -webkit-animation: fadeinout1 30s linear forwards;
  animation: fadeinout1 30s linear forwards;

}

@-webkit-keyframes fadeinout1 {
  0%,20%,100% { opacity: 0; }
  2%,18% { opacity: 1; }
}

@keyframes fadeinout1 {
  0%,20%,100% { opacity: 0; }
  2%,18% { opacity: 1; }
}

#contenu-2-img-2{
  -webkit-animation: fadeinout2 30s linear forwards;
  animation: fadeinout2 30s linear forwards;
}

@-webkit-keyframes fadeinout2 {
  0%,20%,40%,100% { opacity: 0; }
  22%,38% { opacity: 1; }
}

@keyframes fadeinout2 {
  0%,20%,40%,100% { opacity: 0; }
  22%,38% { opacity: 1; }
}

#contenu-2-img-3{
  -webkit-animation: fadeinout3 30s linear forwards;
  animation: fadeinout3 30s linear forwards;
}

@-webkit-keyframes fadeinout3 {
  0%,40%,60%,100% { opacity: 0; }
  42%,58% { opacity: 1; }
}

@keyframes fadeinout3 {
  0%,40%,60%,100% { opacity: 0; }
  42%,58% { opacity: 1; }
}

#contenu-2-img-4{
  -webkit-animation: fadeinout4 30s linear forwards;
  animation: fadeinout4 30s linear forwards;
}

@-webkit-keyframes fadeinout4 {
  0%,60%,80%,100% { opacity: 0; }
  62%,78% { opacity: 1; }
}

@keyframes fadeinout4 {
  0%,60%,80%,100% { opacity: 0; }
  62%,78% { opacity: 1; }
}

#contenu-2-img-5{
  -webkit-animation: fadeinout5 30s linear forwards;
  animation: fadeinout5 30s linear forwards;
}

@-webkit-keyframes fadeinout5 {
  0%,80% { opacity: 0; }
  82%,100% { opacity: 1; }
}

@keyframes fadeinout5 {
  0%,80% { opacity: 0; }
  82%,100% { opacity: 1; }
}



/* Footer */
#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFAD33;
    padding: 1em;
  }

#footer a:hover {
  font-size: 1.22em;
  color: rgb(85, 87, 85);
  font-style: bold;

}

#footer a {
    text-decoration: none;
    font-size: 1.2em;
    color: white;
}

.socialbuttons {
  display: none;
}


/* ABOUT US */

div#containerAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#containerAbout p {
  margin: 1em;
  font-size: 1em;
}

.Laurent {
padding: 1em;
background-color: whitesmoke;
margin: 2em;
border-radius: 10px;
width: 70%;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}


.Coralie {
padding: 1em;
background-color: whitesmoke;
margin: 2em;
border-radius: 10px;
display: flex;
justify-content: flex-start;
flex-direction: row-reverse;
width: 70%;
align-items: center;
flex-wrap: wrap;
justify-content: center;
}

.Atef {
padding: 1em;
background-color: whitesmoke;
margin: 2em;
border-radius: 10px;
width: 70%;
display: flex;
flex-wrap: nowrap;
align-items: center;
flex-wrap: wrap;
justify-content: center;
}

.Sebastien {
padding: 1em;
background-color: whitesmoke;
margin: 2em;
border-radius: 10px;
display: flex;
justify-content: flex-start;
flex-direction: row-reverse;
width: 70%;
align-items: center;
flex-wrap: wrap;
justify-content: center;
}

img.portrait {
width: 80%;
border-radius: 20%;
filter: grayscale(1);
}

@media only screen and (max-width: 1024px){

  nav {
    height: 30px;
    width: 100%;
    background-color: #FFAD33;
  }
  
  .nav-cat {
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(85, 87, 85);
    padding: 2px;
    transition: color 0.3s ease;
  }
  
  .nav-cat:hover {
    
    color: rgb(46, 45, 45);
    font-style: bold;
    
  }
  

  #menuToggle {
    display: block;
    padding: 8px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    
    cursor: pointer;
    
    opacity: 0; 
    z-index: 2; 
    
    -webkit-touch-callout: none;
  }
  
  #menuToggle span {
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 3px;
    position: relative;
    
    background: #5c5959;
    border-radius: 3px;
    
    z-index: 1;
    
   /* transform-origin: 10px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;*/
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 50%;
  }
  
  
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: translate(0px, 7.5px) rotate(45deg);
    background: #363636;
  }
  
  
  #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(45deg) scale(0.2, 0.2);
  }
  
  
  #menuToggle input:checked ~ span:nth-last-child(3) {
    transform: translate(0, 2.5px) rotate(135deg);
  }
  
  
  
  #menu {
    position: absolute;
    width: 40%;
    margin: 0px;
    background: rgba(140, 145, 146, 0 );
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(2,1.5,0.1.5,2.0);
  }
  
  
  #menuToggle input:checked ~ ul {
    transform: none;
  }
  /* YOUTUBE MOBILE */

  iframe {
    width: 100%;
    border-radius: 10px;
  }

  div.youtubepadding  {
    padding: 1em;
    background-color: whitesmoke;
    border-radius: 10px;
  }
  div.youtubepadding p {
    text-align: center;
    font-size: 1.5em;
    margin: 1em;    
    font-weight: 800;
  }
  


  .page-article-contenu{
    display:flex;
    flex-direction:column-reverse;
  }

  .page-article-contenu-1{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
  
  .page-article-contenu-1 p{
    text-align:justify;
    padding:1vw 5vw;
  }
  
  .page-article-contenu-2{
    width:80%;
    height : 50vw;
    padding:1vw 0vw;
    margin : 1% 5% 1% 5%;
  }
  
  .page-article-contenu-2 img{
    width: 80%;
    height: auto;
    border-radius:5%;
    position :absolute;
    
  }

  .page-article-liens-desktop{
    display:none;
  }

  .page-article-titre-mobile{
    display:block;
    padding:1vw 5vw;
    font-size:1.5em;
  }

  .page-article-soustitre{
    display: flex;
    justify-content: center;
    margin-bottom:2vw;
    margin-bottom:-2vw;
  }

  .page-article-titre-mobile-bouton{
    background : rgb(128, 128, 128);
    color: #FFFFFF;
    border-radius:10px;
    border:1px #5C5959 solid;
    box-shadow: none;
    width:20vw;
    margin:5vw;
  }

}
/* MEDIA QUERIES */

@media only screen and (min-width: 1025px){

  /*CAROUSEL*/
    #articles{
        height:45vw;
    }
    
    
    .slides {
        padding: 0;
        width: 80%;
        height: 25vw;
        display: block;
        margin: 0 auto;
        position: relative;
    }

    .slides * {
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }

    .slides input { display: none; }

    .slide-container { display: block; }

    .slide-container-checked{
        display:block;
    }

    .slide {
        top: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction : row;
        justify-content : center;
        position: absolute;

        transform: scale(0); 

        transition: all .7s ease-in-out;
    }

    

    .nav-slide label {
        width: 8%;
        height: 100%;
        display: none;
        position: absolute;

        opacity: 0;
        z-index: 9;
        cursor: pointer;

        transition: opacity .2s;

        color: #FFF;
        font-size: 110pt;
        text-align: center;
        line-height: 25vw;
        font-family: "Varela Round", sans-serif;
        background-color: rgba(255, 255, 255, .3);
        text-shadow: 0px 0px 15px rgb(119, 119, 119);
    }

    .slide:hover + .nav-slide label { opacity: 0.5; }
    
    .nav-slide label:hover { opacity: 1; }

    .nav-slide .next { right: 0; }

    input:checked + .slide-container .slide {
        opacity: 1;

        transform: scale(1);

        transition: opacity 1s ease-in-out;
    }

    input:checked + .slide-container-checked .slide {
        opacity: 1;

        transform: scale(1);

        transition: opacity 1s ease-in-out;
    }


    input:checked + .slide-container .nav-slide label { display: block; }

    input:checked + .slide-container-checked .nav-slide label { display: block; }

    /*FIN CAROUSEL*/

    div.socialbuttons {
    display: flex;
    flex-direction: flex-end;
    justify-content: space-between;
    align-items: center;
 

    }
    div.socialbuttons a {
      padding: 0 0 0 1em;       
    }

    section#youtube {
      display: flex;
      justify-content: center;
      
    } 
    #menu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      padding: 3px;
      transition: none;
      font-size : 19px;
    }

    .btinv {
      visibility: hidden;
    }

    .logos {
      visibility: hidden;

    }

    nav {
      height: 50px;
      width: 100%;
      background-color: #FFAD33;
    }

    .nav-cat
    {
      text-decoration: none;
      color: rgb(251, 253, 251);
      padding: 1.5px;
      font-size: 1em;
      margin-top: -10px;
      
    }   
    .nav-cat:hover {
      font-size: 1.02em;
      color: rgb(85, 87, 85);
      font-style: bold;
    }

    a.nav-cat:hover img.logo {
        visibility: hidden;

    }
    .animation {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    }

  iframe {
    border-radius: 10px;
    }

  div.youtubepadding  {
    padding: 1em 2em 1em 2em;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: row;  
  }

  div.youtubepadding p {
    text-align: center;
    font-size: 1.5em;
    margin: 1em;
    font-weight: 800;
    align-self: center;
  }
  /* LASTPOST */

  section#lastpost {
    display: flex;
    flex-direction: row;
    align-items: center;
    }
    
  div.posts {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: .5em 1em;
    height: 25em;  
    }

  section#lastpost img {
    width: 70%;
    display: flex;
    margin: 1em;
    border-radius: 10px;
  }

section#lastpost img.photoart {
  width: 70%;
  display: flex;
  margin: 1em;
  border-radius: 10px;
}

section#lastpost h2 {
  padding: .5em 1em .5em 1em;
  background-color: grey;
  color: white;
  font-size: .8em;
  border-radius: 10px;  
}

section#lastpost p.postdescription {
  margin: 1em 1em .5em 1em;
  text-align: justify;
  width: 90%;
}

p.date {
  font-size: .8em;
  text-align: center;
}


h3 {
    margin: .5em;
  }
/* Footer */
#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFAD33;
  padding: 1em;
}

#footer a:hover {
font-size: 1.22em;
color: rgb(85, 87, 85);
font-style: bold;

}

#footer a {
  text-decoration: none;
  font-size: 1.2em;
  color: white;
}

.socialbuttons {
display: none;
}

/* ABOUT US DESKTOP */


div#containerAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#containerAbout p {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1em;
}

.Laurent {
padding: 1em;
background-color: whitesmoke;
margin: 2em;
border-radius: 10px;
width: 70%;
display: flex;
flex-wrap: nowrap;
align-items: center;
}


.Coralie {
padding: 1em;
background-color: whitesmoke;
margin: 2em;
border-radius: 10px;
display: flex;
justify-content: flex-start;
flex-direction: row-reverse;
flex-wrap: nowrap;
width: 70%;
align-items: center;
}

.Atef {
padding: 1em;
background-color: whitesmoke;
margin: 2em;
border-radius: 10px;
width: 70%;
display: flex;
flex-wrap: nowrap;
align-items: center;
}

.Sebastien {
padding: 1em;
background-color: whitesmoke;
margin: 2em;
border-radius: 10px;
display: flex;
justify-content: flex-start;
flex-direction: row-reverse;
width: 70%;
align-items: center;
flex-wrap: nowrap;
}

img.portrait {
width: 40%;
border-radius: 20%;
filter: grayscale(1);
}

section#separator img {
  width: 30vw;  
}

}